/*set default padding and margin to 0 (from https://internetingishard.com/html-and-css/css-box-model/)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Raleway', sans-serif;
}

/*Center images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*Set padding of lists*/
ul, ol {
    padding-left: 20px;
}

/*Set colour of background*/
body {
    background-color: #224a5e;
}

/*make .page's background go from top to bottom*/
html, body, .page {
    height: 100%;
}

header {
    padding: 20px 0px;
    text-align: center;
    color: #b6def2;
    background-color: #0b222e;
}

header a {
  color: #b6def2;
}

/*contains all data*/
.page {
    width: 900px;
    margin: auto;
    font-family: sans-serif;
    color: black;
    background-color: #224a5e;

    font-size: 15px;
}

.page div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #b6def2;
  text-align: justify;
}

footer {
    clear: both;
    padding: 20px 0px;
    text-align: center;
    color: #b6def2;
    background-color: #0b222e;
}

/*Change link colour from default blue to general colour*/
div a {
    color: black;
}
